@page
@model Libr.Pages.Shared.ViewBooksModel
@{
}

<div class="row">
    @foreach(var item in Model.Books)
    {
        var PhotoPath = $"/images/{item.PhotoPath}";

        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="card m-4">
                    <div class="text-center">
                        <img class="card-img-top" src="@PhotoPath"  />
                    </div>

                    <div class=" text-center" style="text-decoration-color:aqua">
                        <h3>@item.Name @item.Author</h3>
                    </div>

                    <div class="text-center card-footer">
                        <a asp-page="#" asp-route-ID="@item.ID" class="btn btn-success m-1">Оформить</a>
                        <a asp-page="/Shared/books/DetailOfBook" asp-route-ID="@item.ID" class="btn btn-success m-1">Изменить</a>
                        <a asp-page="#" asp-route-ID="@item.ID" class="btn btn-success m-1">Удалить</a>
                    </div>
                </div>
            </div>

        </div>

    }

</div>


