@page
@model Libr.Areas.Identity.Pages.Account.Manage.MyOrdersModel
@{
   
}


<div class="container-fluid">
    <div class="row border">
        <div class="col-md-2">
            фото
        </div>

        <div class="col-md-4">
            Имя
        </div>

        <div class="col-md-1">
            Кол
        </div>
        <div class="col-md-2">
            Цена
        </div>
        <div class="col-md-3">
            Статус
        </div>
     
       
            @foreach (var item in Model.cat)
            {
                var photoPath = $"/images/{item.Photo?? "NoImages.jpg"}";
                <div class="container-fluid">
                    <div class="row border">
                        <div class="col-md-2">
                          <img class="ImgOrder" src="@photoPath" />
                        </div>

                        <div class="col-md-4">
                            @item.NameBook
                        </div>

                        <div class="col-md-1">
                            @item.count
                        </div>
                        <div class="col-md-2">
                            @item.FullPrice
                        </div>
                        <div class="col-md-3">
                            @item.status.
                        </div>

                    </div>
                </div>
            
             }
    </div>
</div>
